html {
    font-size: 100%;
}

h1, .h1 {
    font-size: 2.4rem;
    font-weight: 200;
}

h2, .h2 {
    color: $gnome-primary;
    font-weight: 400;
    font-size: 1.5rem;

}

h3, .h3 {
    font-weight: 300;
    font-size: 1.3rem;
}

h4, .h4 {
    color: #808080;
    font-weight: 600;
    font-size: 1rem;
}
